<div class="row-fluid">

<h3>Проект "Социальная сеть"</h1>
<h2>Разработчики :</p>
<ul type="circle">
  <li>Синельников Дмитрий</li>
  <li>Глущенко Екатерина</li>
  <li>Семуков Илья</li>
</ul>

  <div class="span4">...</div>
  <div class="span8">...</div>
</div>



