
default: &default
  adapter: postgresql
  encoding: unicode
  host: localhost
  username: test
  password:
  pool: 5

production:
  <<: *default
  database: dev_social_production

test:
  <<: *default
  database: dev_social_test

development:
  <<: *default
  database: dev_social_development
