<span>Сообщество: <%= @community_membership.community.subject %> </span><br />
<span>Пользователь: <%= @community_membership.user.name %> </span><br />
<span>Добавлен: <%= @community_membership.create_at %> </span><br />


