<span>Текущий пользователь: <%= @user_relation.user.name %> </span><br />
<span>Пользователь-друг: <%= @user_relation.user_rel.name %> </span><br />
<span>Добавлен: <%= @user_relation.create_at %> </span><br />


